# LaTeX auxiliary files (from all folders)
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.dvi
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind

# PDF files (uncomment if you don't want to track PDFs)
# *.pdf
